*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    background: var(--bg);
}

header {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 15px 10%;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

header>img{
    width: 125px;
    position: absolute;
    left: 5vw;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>nav {
    height: fit-content;
    position: absolute;
    right: 5vw;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>nav>a {
    padding: 10px;
    font-family: Josefin Sans;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #F37A23;
    transition: 0.4s ease-in-out;
}

#hero-div{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
    top: -60px;
}

#hero{
    position: relative;
    width: 100%;
    top: 60px;
    justify-content: space-between;
    min-height: calc(100vh - 60px);/*97vh;*/
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#heroDiv{

}

.cover-image , .hero-desc, .social-icons{
    position: absolute;
    top: 0;
    left: 0;
}

.cover-image{
    width: 100vw;
    height: calc(100vh - 60px);
}

.img{
    position: absolute;
    bottom: 0;
    right: 10vw;
}

.hero-desc{
    top: 140px;
    left: 5vw;
}

.hero-desc>h1{
    color: white;
    font-size: 80px;
    margin: 0;
    font-family: Josefin Sans;
}

.hero-desc>h2{
    color: #F37A23;
    font-size: 75px;
    font-family: Josefin Sans;
    margin-top: 20px;
}

.hero-desc>h3{
    color: white;
    font-size: 40px;
    font-family: Josefin Sans;
    margin-top: -10px;
}

.hero-desc>p{
    font-size: 17px;
    font-family: Josefin Sans;
    margin-top: 20px;
    color: white;
}

.cv-button{
    position: absolute;
    top: 500px;
    left: 5vw;
}

:root {
    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --hue: calc(0 + (var(--xp) * 500));
    --bg: hsl(0, 0%, 0%);
    --size: 100px;
    --glow: radial-gradient(
            50% 50% at center,
            hsl(22, 91%, 46%), /* Changed to #F37A23 */
            hsl(22, 91%, 36%), /* Adjusted lightness */
            transparent
    )
    calc((var(--x) * 1px) - (var(--size) * 0.5))
    calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}

button {
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    background: var(--bg);
    border: 1px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    cursor: pointer;
    background:
            linear-gradient(var(--bg), var(--bg)) padding-box,
            var(--glow),
            linear-gradient(#f37a23, #f37a23) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    position: relative;
    padding: 0.7rem 1rem;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    z-index: 2;
    border-radius: 1rem;
}

button span {
    background: var(--glow), #c4c4c4;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    inset: 0;
    font-family: Josefin Sans;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

:root:has(button:active) {
    --size: 300px;
}

button::after {
    content: "";
    position: absolute;
    inset: -4px;
    filter: blur(20px);
    border: 4px solid transparent;
    background: var(--glow);
    border-radius: 1rem;
}

#about-div{
    position: absolute;
    height: 60px;
    width: 20px;
    left: 0;
    bottom: 0;
}

#aboutSection{
    position: relative;
    min-height: 175vh;
    overflow: hidden;
}

#photoDiv{
    width: 320px;
    height: 320px;
    background-color: #f37a23;
    border-radius: 200px;
    margin-top: 150px;
    left: 5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#photoAbout{
    margin: 10px;
}

#about-descriptions{
    position: absolute;
    margin-top: 180px;
    right: 50px;
    width: 60vw;
}

.about-me-title{
    font-size: 55px;
    font-family: Josefin Sans;
}

#about-descriptions>h2{
    color: white;
    display: inline-block;
}

#about-descriptions>h2:nth-child(2){
    color: #f37a23;
}

#about-descriptions>h3{
    color: white;
    margin-top: -7px;
    font-size: 32px;
    font-family: Josefin Sans;
}

#about-descriptions>p{
    color: white;
    font-size: 20px;
    margin-top: 40px;
    font-family: Josefin Sans;
}

#skill-div{
    position: absolute;
    margin-top: 85vh;
    width: 100%;
}

#skill-title-div{
    width: 100%;
    text-align: center;
}

.skill-title{
    display: inline-block;
    font-size: 55px;
    font-family: Josefin Sans;
}

#skill-title-div>h2:nth-child(1){
    color: white;
}

#skill-title-div>h2:nth-child(2){
    color: #f37a23;
}

.skill-all{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 98vh;
    column-gap: 20vw;
    row-gap: 10vh;
    justify-content: center;
}

.skill-cards{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #2b2b2b;
    border-radius: 30px;
    border-style: solid;
    border-color: #f37a23;
    border-width: 2px;
}

.skill-icons{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.skill-name{
    position: absolute;
    color: white;
    bottom: 5px;
    right: 0;
    left: 0;
    font-family: Josefin Sans;
}

.skill-name-div{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 5px;
    text-align: center;
}

#service-div{
    position: absolute;
    height: 60px;
    width: 20px;
    left: 0;
    bottom: 0;
}

#my-service{
    position: relative;
    min-height: calc(100vh - 60px);
}

#service-title-div{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
}

.service-topic{
    display: inline-block;
    font-size: 55px;
    font-family: Josefin Sans;
}

#service-title-div>h2:nth-child(1){
    color: white;
}

#service-title-div>h2:nth-child(2){
    color: #f37a23;
}

.card-icon{
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 30px;
}

.card-desc{
    margin-top: 40px;
}

.service-cards{
    position: absolute;
    width: 350px;
    height: 400px;
    color: #eceff1;
    background-color: #2b2b2b;
    border: 1px solid #eceff133;
    text-align: center;
    border-radius: 20px;
}

.service-cards:hover{
    background-color: #212121;
    border-color: #f37a23;
}

.card-icon{
    margin-top: 50px;
}

.service-cards-topic{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 160px;
    font-size: 20px;
    font-family: Josefin Sans;
}

.card-desc{
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Josefin Sans;
}

#card-code{
    top: 180px;
    left: 10vw;
}

#card-web{
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

#card-ui{
    top: 180px;
    right: 10vw;
}

#projects-div{
    position: absolute;
    height: 60px;
    width: 20px;
    left: 0;
    bottom: 0;
}

#my-projects-section{
    position: relative;
    display: flex;
    min-height: 110vh;
    overflow: hidden;
}

#projects-title-div{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
}

.projects-title{
    display: inline-block;
    font-size: 55px;
    font-family: Josefin Sans;
}

#projects-title-div>h2:nth-child(1){
    color: white;
}

#projects-title-div>h2:nth-child(2){
    color: #f37a23;
}

.projects-cards{
    width: 400px;
    height: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: #363636;
    border-radius: 10px;
}

.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card-container{
    display: grid;
}

.projects-cards{
    position: relative;
    overflow: hidden;
}

.project-image{
    border-radius: 10px;
}

.card-data{
    width: 280px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,122,35,1) 100%);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px #363636;
    border-radius: 8px;
    position: absolute;
    bottom: -8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    text-align: center;
}

.card-title{
    font-size: 20px;
    color: #000000;
    margin-bottom: 0.75rem;
}

.card-button{
    text-decoration: none;
    font-weight: 500;
    color: #363636;
}

.card-button:hover{
    text-decoration: underline;
}

.projects-cards:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.projects-cards:hover{
    animation: remove-overflow 2s forwards;
}

.projects-cards:not(:hover){
    animation: show-overflow 2s forwards;
}

.projects-cards:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

#project-1{
    position: absolute;
    left: 15vw;
    top: 170px;
}

#project-2{
    position: absolute;
    right: 15vw;
    top: 170px;
}

#project-3{
    position: absolute;
    left: 15vw;
    bottom: 50px;
}

#project-4{
    position: absolute;
    right: 15vw;
    bottom: 50px;
}

.projects-cards:hover{
    border-color: #f37a23;
}

.project-image{
    position: absolute;
}

#assignments-div{
    position: absolute;
    height: 60px;
    width: 20px;
    left: 0;
    bottom: 0;
}

#my-assignments-section{
    position: relative;
    display: flex;
    min-height: 195vh;
    overflow: hidden;
}

#assignments-title-div{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
}

.assignments-title{
    display: inline-block;
    font-size: 55px;
    font-family: Josefin Sans;
}

#assignments-title-div>h2:nth-child(1){
    color: white;
}

#assignments-title-div>h2:nth-child(2){
    color: #f37a23;
}

.assignments-cards{
    width: 300px;
    height: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: #363636;
    position: absolute;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    background-color: #212121;
    font-family: Josefin Sans;
}

.assignments-cards-title{
    color: white;
    margin-top: 15px;
}

.assignments-cards-desc{
    color: white;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.open-link-icon{
    margin-top: 20px;
}

#assignment-01{
    left: 10vw;
    top: 170px;
}

#assignment-02{
    right: 0;
    left: 0;
    margin: auto;
    top: 170px;
}

#assignment-03{
    right: 10vw;
    top: 170px;
}

#assignment-04{
    left: 10vw;
    top: 480px;
}

#assignment-05{
    right: 0;
    left: 0;
    margin: auto;
    top: 480px;
}

#assignment-06{
    right: 10vw;
    top: 480px;
}

#assignment-07{
    left: 10vw;
    top: 792px;
}

#assignment-08{
    right: 0;
    left: 0;
    margin: auto;
    top: 792px;
}

#assignment-09{
    right: 10vw;
    top: 792px;
}

#assignment-10{
    left: 10vw;
    top: 1104px;
}

#assignment-11{
    right: 0;
    left: 0;
    margin: auto;
    top: 1104px;
}

#assignment-12{
    right: 10vw;
    top: 1104px;
}

#contact-div{
    position: absolute;
    height: 60px;
    width: 20px;
    left: 0;
    bottom: 0;
}

#contact-me-section{
    position: relative;
    display: flex;
    min-height: calc(100vh - 190px);
    overflow: hidden;
}

#contact-title-div{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
}

.contact-title{
    display: inline-block;
    font-size: 55px;
    font-family: Josefin Sans;
}

#contact-title-div>h2:nth-child(1){
    color: white;
}

#contact-title-div>h2:nth-child(2){
    color: #f37a23;
}

#contact-fields-div{
    position: absolute;
    /*display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;*/
    width: 70vw;
    height: 45vh;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
}

.text-container{
    position: absolute;
    width: 46%;
    /*position: relative;*/
}

.label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: white;
    font-family: Josefin Sans;
}

.text-fields{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #363636;
    background-color: #363636;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all .3s;
    color: white;
}

.label::before{
    content: "";
    height: 5px;
    background-color: #363636;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-fields:focus{
    border: 2px solid #f37a23;
}

.text-fields:focus+.label,.filled{
    top: -10px;
    color: #f37a23;
    font-size: 14px;
}

.text-fields::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

.text-fields:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

.text-fields:focus + label,
input:not(:placeholder-shown).text-fields + label {
    top: -10px;
    color: whitesmoke;
    font-size: 14px;
}

#send-button{
    position: absolute;
    width: 150px;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
}

#first-name-container{
    left: 0;
}

#last-name-container{
    top: 0;
    right: 0;
}

#contact-number-container{
    left: 0;
    top: 70px;
}

#email-container{
    right: 0;
    top: 70px;
}

#massage-container{
    top: 140px;
    height: 40%;
    width: 100%;
}

#footer-section{
    position: relative;
    height: 130px;
    display: flex;
    overflow: hidden;
}

#logo{
    position: absolute;
    width: 150px;
    left: 5vw;
    top: 2vh;
}

#let\'s-talk-div{
    position: absolute;
    font-family: Josefin Sans;
    text-align: center;
    top: 2vh;
    left: 0;
    right: 0;
    margin: auto;
}

#let\'s-talk{
    color: white;
    font-size: 20px;
}

#email-h4{
    margin-top: 15px;
    color: white;
    font-size: 17px;
}

#stay-connected-div{
    position: absolute;
    font-family: Josefin Sans;
    text-align: right;
    color: white;
    right: 5vw;
    top: 2vh;
}

#connected-h3{
    font-size: 20px;
}

#hr{
    position: absolute;
    color: white;
    width: 100%;
    bottom: 5vh;
}

/*.icons{
    position: absolute;
}*/

