*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

header {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 15px 10%;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

header>img{
    width: 125px;
    position: absolute;
    left: 5vw;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>nav {
    height: fit-content;
    position: absolute;
    right: 5vw;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>nav>a {
    padding: 10px;
}

#hero{
    position: relative;
    width: 100%;
    top: 60px;
    justify-content: space-between;
    min-height: calc(100vh - 60px);/*97vh;*/
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #363636;
    overflow: hidden;
}

#heroDiv{

}

.cover-image , #imageToCover , .hero-desc, .cv-button, .social-icons{
    position: absolute;
    top: 0;
    left: 0;
}

.cover-image{
    width: 100vw;
    height: calc(100vh - 60px);
}

#imageToCover{
    top: 0px;
    left: 900px;
}

.hero-desc{
    top: 140px;
    left: 5vw;
}

.hero-desc>h1{
    color: white;
    font-size: 80px;
    margin: 0;
    font-family: Josefin Sans;
}

.hero-desc>h2{
    color: #F37A23;
    font-size: 75px;
    font-family: Josefin Sans;
    margin-top: 20px;
}

.hero-desc>h3{
    color: white;
    font-size: 40px;
    font-family: Josefin Sans;
    margin-top: -10px;
}

.hero-desc>p{
    margin-top: 20px;
    color: white;
}

.cv-button{
    top: 500px;
    left: 5vw;
}

.responsive {
    width: 100%;
    height: auto;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
}