/*----------------------------------------------------------------------------------------------------media queries*/
@media all and (max-width: 1300px) {
    .img {
        width: 360px;
        right: 5vw;
    }

    .hero-desc>h1{
        font-size: 65px;
        margin: 0;
    }

    .hero-desc>h2{
        font-size: 70px;
        margin-top: 15px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 22px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 17px;
        margin-top: 20px;
    }

    .cv-button{
        top: 480px;
    }

    .navbar a {
        font-size: 18px;
        margin-left: 10px;
    }
    .header{
        padding: 15px 10%;
    }

    .projects-cards{
        width: 350px;
        height: 200px;
        border-width: 1px;
    }

    .project-image{
        width: 350px;
        height: 200px;
    }

    #project-3{
        top: 420px;
    }

    #project-4{
        top: 420px;
    }

    #my-projects-section{
        min-height: 110vh;
    }
}

@media all and (max-width: 1105px){
    .img {
        width: 340px;
        right: 5vw;
    }

    .hero-desc>h1{
        font-size: 61px;
        margin: 0;
    }

    .hero-desc>h2{
        font-size: 65px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 20px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 17px;
        margin-top: 20px;
    }

    .cv-button{
        top: 460px;
    }

    .navbar a {
        font-size: 17px;
        margin-left: 5px;
    }
    .header{
        padding: 15px 9%;
    }


}

@media all and (max-width: 1020px) {
    .img {
        width: 300px;
    }

    .hero-desc{
        top: 120px;
    }

    .hero-desc>h1{
        font-size: 59px;
        margin: 0;
    }

    .hero-desc>h2{
        font-size: 60px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 19px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 16px;
        margin-top: 15px;
    }

    .cv-button{
        top: 410px;
    }

    .navbar a {
        font-size: 15px;
        margin-left: 5px;
    }
    .header{
        padding: 15px 8%;
    }
}

@media all and (max-width: 965px) {
    .header {
        flex-direction: column;
    }

    .logo {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .img {
        width: 300px;
        /*left: 200px;*/
        right: -5px;
    }



    .home-content h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cv-button{
        top: 360px;
    }
}

@media all and (max-width: 768px) {
    .img {
        width: 340px;
        right: -50px;
    }

    .hero-desc{
        top: 300px;
        left: 8vw;
    }

    .hero-desc>h1{
        font-size: 59px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 60px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 19px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 16px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 520px;
        width: 160px;
        font-size: 8px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 2px;
    }
    .header{
        padding: 15px 5%;
    }

    .home {
        flex-direction: column;
        align-items: center;
        padding: 130px 10% 0;
        border-bottom: 1px solid #363636;
        height: 120vh;
    }

    .home-content{
        text-align: center;
    }
}

@media all and (max-width: 660px){
    .img {
        width: 370px;
        right: -50px;
    }

    .hero-desc{
        top: 250px;
        left: 4vw;
    }

    .hero-desc>h1{
        font-size: 59px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 60px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 19px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 16px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 530px;
        width: 160px;
        font-size: 8px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }

    .home {
        flex-direction: column;
        align-items: center;
        padding: 130px 10% 0;
        border-bottom: 1px solid #363636;
        height: 120vh;
    }

    .home-content{
        text-align: center;
    }
}

@media all and (max-width: 590px){
    #hero{
        /*min-height: calc(100vh - 115px);*/
    }

    .img {
        width: 350px;
        /*left: 200px;*/
        right: -50px;
    }

    .hero-desc{
        top: 200px;
    }

    .hero-desc>h1{
        font-size: 59px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 60px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 19px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 16px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 500px;
        width: 160px;
        font-size: 8px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }
}

@media all and (max-width: 495px) {
    #hero{
        min-height: calc(100vh - 115px);
    }

    .img {
        width: 300px;
        right: -50px;
    }

    .hero-desc{
        top: 250px;
        left: 2vw;
    }

    .hero-desc>h1{
        font-size: 59px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 50px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 19px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 15px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 4px;
        width: 170px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }
}

@media all and (max-width: 321px) {
    #hero{
        min-height: calc(100vh - 60px);
    }

    .img {
        width: 350px;
        right: -100px;
    }

    .hero-desc{
        top: 260px;
        left: 2vw;
    }

    .hero-desc>h1{
        font-size: 55px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 45px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 15px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 13px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 510px;
        width: 120px;
    }

    .cv-button>span{
        font-size: 10px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }

    #aboutSection{
        display: flex;
        min-height: 1090px;
    }

    .about-me-title{
        font-size: 35px;
    }

    #photoDiv{
        width: 200px;
        height: 200px;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #photoAbout{
        width: 180px;
        height: 180px;
        margin: 10px;
    }

    #about-descriptions{
        width: 280px;
        top: 320px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #about-descriptions>h3{
        margin-top: -7px;
        font-size: 15px;
    }

    #about-descriptions>p{
        font-size: 12px;
        margin-top: 20px;
    }

    .skill-title{
        font-size: 35px;
    }

    #skill-div{
        margin-top: 600px;
        width: 100%;
    }

    .skill-cards{
        width: 100px;
        height: 100px;
        border-width: 1px;
    }

    #card-java{
        left: 10vw;
        top: 80px;
    }

    #card-css{
        right: 10vw;
        top: 80px;
    }

    #card-html{
        margin: 0;
        left: 10vw;
        top: 220px;
    }

    #card-javascript{
        position: absolute;
        top: 220px;
        left: 58vw;
        /*right: 10vw;*/
    }

    #card-mysql{
        top: 360px;
        margin: 0;
        left: 10vw;
    }

    #card-python{
        top: 360px;
        right: 10vw;
    }

    .skill-name{
        font-size: 12px;
        bottom: 2px;
        right: 0;
        left: 0;
    }

    .skill-name-div{
        width: 100%;
        height: 50px;
        bottom: 0;
    }

    #icon-java{
        width: 100px;
    }

    #icon-html{
        width: 50px;
    }

    #icon-css{
        width: 75px;
    }

    #icon-js{
        width: 100px;
    }

    #icon-python{
        width: 60px;
    }

    #icon-sql{
        width: 80px;
    }

    #my-service{
        min-height: 1000px;
    }

    .service-topic{
        font-size: 35px;
    }

    .service-cards{
        width: 220px;
        height: 250px;
    }

    #card-code{
        top: 130px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #card-web{
        top: 420px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #card-ui{
        top: 710px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .card-icon{
        margin-top: 30px;
        width: 40px;
    }

    .service-cards-topic{
        left: 0;
        right: 0;
        margin: auto;
        top: 80px;
        font-size: 15px;
    }

    .card-desc{
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 12px;
    }

    #my-projects-section{
        min-height: 900px;
    }

    .projects-title{
        font-size: 35px;
    }

    .projects-cards{
        width: 250px;
        height: 150px;
    }

    .project-image{
        width: 250px;
        height: 150px;
    }

    #project-1{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -50px;
    }

    #project-2{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 150px;
    }

    #project-3{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 100px;
    }

    #project-4{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 300px;
        margin-bottom: 30px;
    }

    #my-assignments-section{
        min-height: 3100px;
    }

    .assignments-title{
        font-size: 35px;
    }

    .assignments-cards{
        width: 250px;
        height: 200px;
    }

    .assignments-cards-title{
        margin-top: 15px;
        font-size: 15px;
    }

    .assignments-cards-desc{
        font-size: 11px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #assignment-01{
        right: 0;
        left: 0;
        margin: auto;
        top: 130px;
    }

    #assignment-02{
        right: 0;
        left: 0;
        margin: auto;
        top: 380px;
    }

    #assignment-03{
        right: 0;
        left: 0;
        margin: auto;
        top: 630px;
    }

    #assignment-04{
        right: 0;
        left: 0;
        margin: auto;
        top: 880px;
    }

    #assignment-05{
        right: 0;
        left: 0;
        margin: auto;
        top: 1130px;
    }

    #assignment-06{
        right: 0;
        left: 0;
        margin: auto;
        top: 1380px;
    }

    #assignment-07{
        right: 0;
        left: 0;
        margin: auto;
        top: 1630px;
    }

    #assignment-08{
        right: 0;
        left: 0;
        margin: auto;
        top: 1880px;
    }

    #assignment-09{
        right: 0;
        left: 0;
        margin: auto;
        top: 2130px;
    }

    #assignment-10{
        right: 0;
        left: 0;
        margin: auto;
        top: 2380px;
    }

    #assignment-11{
        right: 0;
        left: 0;
        margin: auto;
        top: 2630px;
    }

    #assignment-12{
        right: 0;
        left: 0;
        margin: auto;
        top: 2880px;
    }

    #contact-title-div{
        top: 20px;
    }

    .contact-title{
        font-size: 35px;
    }

    #contact-fields-div{
        width: 90vw;
        height: 55vh;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .text-container{
        height: 10px;
    }

    #first-name-container{
        left: 0;
    }

    #last-name-container{
        top: 50px;
        left: 0;
    }

    #contact-number-container{
        left: 0;
        top: 100px;
    }

    #email-container{
        left: 0;
        top: 150px;
    }

    #massage-container{
        top: 200px;
        height: 20%;
        width: 90%;
    }

    .text-container{
        position: absolute;
        width: 90%;
    }

    #send-button{
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        width: 120px;
    }

    #send-button>span{
        font-size: 12px;
    }
}

@media all and (max-width: 376px) {
    #hero{
        min-height: calc(100vh - 60px);
    }

    .img {
        width: 330px;
        right: -100px;
    }

    .hero-desc{
        top: 260px;
        left: 2vw;
    }

    .hero-desc>h1{
        font-size: 55px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 45px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 15px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 13px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 510px;
        width: 120px;
    }

    .cv-button>span{
        font-size: 10px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }

    #aboutSection{
        display: flex;
        min-height: 1090px;
    }

    .about-me-title{
        font-size: 35px;
    }

    #photoDiv{
        width: 200px;
        height: 200px;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #photoAbout{
        width: 180px;
        height: 180px;
        margin: 10px;
    }

    #about-descriptions{
        width: 280px;
        top: 320px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #about-descriptions>h3{
        margin-top: -7px;
        font-size: 15px;
    }

    #about-descriptions>p{
        font-size: 12px;
        margin-top: 20px;
    }

    .skill-title{
        font-size: 35px;
    }

    #skill-div{
        margin-top: 600px;
        width: 100%;
    }

    .skill-cards{
        width: 100px;
        height: 100px;
        border-width: 1px;
    }

    #card-java{
        left: 15vw;
        top: 80px;
    }

    #card-css{
        right: 15vw;
        top: 80px;
    }

    #card-html{
        margin: 0;
        left: 15vw;
        top: 220px;
    }

    #card-javascript{
        top: 220px;
        left: 58vw;
    }

    #card-mysql{
        top: 360px;
        margin: 0;
        left: 15vw;
    }

    #card-python{
        top: 360px;
        right: 15vw;
    }

    .skill-name{
        font-size: 12px;
        bottom: 2px;
        right: 0;
        left: 0;
    }

    .skill-name-div{
        width: 100%;
        height: 50px;
        bottom: 0;
    }

    #icon-java{
        width: 100px;
    }

    #icon-html{
        width: 50px;
    }

    #icon-css{
        width: 75px;
    }

    #icon-js{
        width: 100px;
    }

    #icon-python{
        width: 60px;
    }

    #icon-sql{
        width: 80px;
    }

    #my-service{
        min-height: 1000px;
    }

    .service-topic{
        font-size: 35px;
    }

    .service-cards{
        width: 220px;
        height: 250px;
    }

    #card-code{
        top: 130px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #card-web{
        top: 420px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #card-ui{
        top: 710px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .card-icon{
        margin-top: 30px;
        width: 40px;
    }

    .service-cards-topic{
        left: 0;
        right: 0;
        margin: auto;
        top: 80px;
        font-size: 15px;
    }

    .card-desc{
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 12px;
    }

    #my-projects-section{
        min-height: 900px;
    }

    .projects-title{
        font-size: 35px;
    }

    .projects-cards{
        width: 250px;
        height: 150px;
    }

    .project-image{
        width: 250px;
        height: 150px;
    }

    #project-1{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -50px;
    }

    #project-2{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 150px;
    }

    #project-3{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 100px;
    }

    #project-4{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 300px;
        margin-bottom: 30px;
    }

    #my-assignments-section{
        min-height: 3100px;
    }

    .assignments-title{
        font-size: 35px;
    }

    .assignments-cards{
        width: 250px;
        height: 200px;
    }

    .assignments-cards-title{
        margin-top: 15px;
        font-size: 15px;
    }

    .assignments-cards-desc{
        font-size: 11px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #assignment-01{
        right: 0;
        left: 0;
        margin: auto;
        top: 130px;
    }

    #assignment-02{
        right: 0;
        left: 0;
        margin: auto;
        top: 380px;
    }

    #assignment-03{
        right: 0;
        left: 0;
        margin: auto;
        top: 630px;
    }

    #assignment-04{
        right: 0;
        left: 0;
        margin: auto;
        top: 880px;
    }

    #assignment-05{
        right: 0;
        left: 0;
        margin: auto;
        top: 1130px;
    }

    #assignment-06{
        right: 0;
        left: 0;
        margin: auto;
        top: 1380px;
    }

    #assignment-07{
        right: 0;
        left: 0;
        margin: auto;
        top: 1630px;
    }

    #assignment-08{
        right: 0;
        left: 0;
        margin: auto;
        top: 1880px;
    }

    #assignment-09{
        right: 0;
        left: 0;
        margin: auto;
        top: 2130px;
    }

    #assignment-10{
        right: 0;
        left: 0;
        margin: auto;
        top: 2380px;
    }

    #assignment-11{
        right: 0;
        left: 0;
        margin: auto;
        top: 2630px;
    }

    #assignment-12{
        right: 0;
        left: 0;
        margin: auto;
        top: 2880px;
    }

    #contact-title-div{
        top: 20px;
    }

    .contact-title{
        font-size: 35px;
    }

    #contact-fields-div{
        width: 80vw;
        height: 55vh;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .text-container{
        height: 10px;
    }

    #first-name-container{
        left: 0;
    }

    #last-name-container{
        top: 50px;
        left: 0;
    }

    #contact-number-container{
        left: 0;
        top: 100px;
    }

    #email-container{
        left: 0;
        top: 150px;
    }

    #massage-container{
        top: 200px;
        height: 20%;
        width: 90%;
    }

    .text-container{
        position: absolute;
        width: 90%;
    }

    #send-button{
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        width: 120px;
    }

    #send-button>span{
        font-size: 12px;
    }
}

@media all and (max-width: 429px) {
    #hero{
        min-height: calc(100vh - 60px);
    }

    .img {
        width: 330px;
        right: -100px;
    }

    .hero-desc{
        top: 260px;
        left: 2vw;
    }

    .hero-desc>h1{
        font-size: 55px;
        margin: 0;
        opacity: 0;
    }

    .hero-desc>h2{
        font-size: 45px;
        margin-top: 10px;
    }

    .hero-desc>h3{
        color: white;
        font-size: 15px;
        margin-top: -10px;
    }

    .hero-desc>p{
        font-size: 13px;
        margin-top: 15px;
    }

    .cv-button{
        left: 0;
        right: 0;
        margin: auto;
        top: 510px;
        width: 120px;
    }

    .cv-button>span{
        font-size: 10px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }

    #aboutSection{
        display: flex;
        min-height: 1090px;
    }

    .about-me-title{
        font-size: 35px;
    }

    #photoDiv{
        width: 200px;
        height: 200px;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #photoAbout{
        width: 180px;
        height: 180px;
        margin: 10px;
    }

    #about-descriptions{
        width: 280px;
        top: 320px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #about-descriptions>h3{
        margin-top: -7px;
        font-size: 15px;
    }

    #about-descriptions>p{
        font-size: 12px;
        margin-top: 20px;
    }

    .skill-title{
        font-size: 35px;
    }

    #skill-div{
        margin-top: 600px;
        width: 100%;
    }

    .skill-cards{
        width: 100px;
        height: 100px;
        border-width: 1px;
    }

    #card-java{
        left: 15vw;
        top: 80px;
    }

    #card-css{
        right: 15vw;
        top: 80px;
    }

    #card-html{
        margin: 0;
        left: 15vw;
        top: 220px;
    }

    #card-javascript{
        top: 220px;
        left: 61vw;
    }

    #card-mysql{
        top: 360px;
        margin: 0;
        left: 15vw;
    }

    #card-python{
        top: 360px;
        right: 15vw;
    }

    .skill-name{
        font-size: 12px;
        bottom: 2px;
        right: 0;
        left: 0;
    }

    .skill-name-div{
        width: 100%;
        height: 50px;
        bottom: 0;
    }

    #icon-java{
        width: 100px;
    }

    #icon-html{
        width: 50px;
    }

    #icon-css{
        width: 75px;
    }

    #icon-js{
        width: 100px;
    }

    #icon-python{
        width: 60px;
    }

    #icon-sql{
        width: 80px;
    }

    #my-service{
        min-height: 1000px;
    }

    .service-topic{
        font-size: 35px;
    }

    .service-cards{
        width: 220px;
        height: 250px;
    }

    #card-code{
        top: 130px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #card-web{
        top: 420px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #card-ui{
        top: 710px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .card-icon{
        margin-top: 30px;
        width: 40px;
    }

    .service-cards-topic{
        left: 0;
        right: 0;
        margin: auto;
        top: 80px;
        font-size: 15px;
    }

    .card-desc{
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 12px;
    }

    #my-projects-section{
        min-height: 900px;
    }

    .projects-title{
        font-size: 35px;
    }

    .projects-cards{
        width: 250px;
        height: 150px;
    }

    .project-image{
        width: 250px;
        height: 150px;
    }

    #project-1{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -50px;
    }

    #project-2{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 150px;
    }

    #project-3{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 100px;
    }

    #project-4{
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 300px;
        margin-bottom: 30px;
    }

    #my-assignments-section{
        min-height: 3100px;
    }

    .assignments-title{
        font-size: 35px;
    }

    .assignments-cards{
        width: 250px;
        height: 200px;
    }

    .assignments-cards-title{
        margin-top: 15px;
        font-size: 15px;
    }

    .assignments-cards-desc{
        font-size: 11px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #assignment-01{
        right: 0;
        left: 0;
        margin: auto;
        top: 130px;
    }

    #assignment-02{
        right: 0;
        left: 0;
        margin: auto;
        top: 380px;
    }

    #assignment-03{
        right: 0;
        left: 0;
        margin: auto;
        top: 630px;
    }

    #assignment-04{
        right: 0;
        left: 0;
        margin: auto;
        top: 880px;
    }

    #assignment-05{
        right: 0;
        left: 0;
        margin: auto;
        top: 1130px;
    }

    #assignment-06{
        right: 0;
        left: 0;
        margin: auto;
        top: 1380px;
    }

    #assignment-07{
        right: 0;
        left: 0;
        margin: auto;
        top: 1630px;
    }

    #assignment-08{
        right: 0;
        left: 0;
        margin: auto;
        top: 1880px;
    }

    #assignment-09{
        right: 0;
        left: 0;
        margin: auto;
        top: 2130px;
    }

    #assignment-10{
        right: 0;
        left: 0;
        margin: auto;
        top: 2380px;
    }

    #assignment-11{
        right: 0;
        left: 0;
        margin: auto;
        top: 2630px;
    }

    #assignment-12{
        right: 0;
        left: 0;
        margin: auto;
        top: 2880px;
    }

    #contact-title-div{
        top: 20px;
    }

    .contact-title{
        font-size: 35px;
    }

    #contact-fields-div{
        width: 70vw;
        height: 55vh;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .text-container{
        height: 10px;
    }

    #first-name-container{
        left: 0;
    }

    #last-name-container{
        top: 50px;
        left: 0;
    }

    #contact-number-container{
        left: 0;
        top: 100px;
    }

    #email-container{
        left: 0;
        top: 150px;
    }

    #massage-container{
        top: 200px;
        height: 20%;
        width: 90%;
    }

    .text-container{
        position: absolute;
        width: 90%;
    }

    #send-button{
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        width: 120px;
    }

    #send-button>span{
        font-size: 12px;
    }
}